* {
  padding: 0;
  margin: 0;
  border: 0;
}
.top {
  display: flex;
  padding: 20px 5px;
}
.top img {
  width: 250px;
  height: 70px;
}
.top .phone {
  width: 950px;
  display: flex;
  justify-content: space-around;
}
.top .phone div {
  line-height: 70px;
  text-align: center;
}
.img-wrap {
  width: 1200px;
  margin: auto;
}
.img-wrap .head {
  display: flex;
  width: 1200px;
  margin: auto;
}
.img-wrap .head .nav {
  width: 200px;
  /*横向一级菜单样式设置*/
}
.img-wrap .head .nav ul {
  position: relative;
  list-style: none;
}
.img-wrap .head .nav ul li {
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.img-wrap .head .nav ul li:hover .show-box {
  display: block;
}
.img-wrap .head .nav ul li a {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: block;
  color: #fff;
  width: 200px;
  height: 50px;
}
.img-wrap .head .nav ul li a:hover {
  background-color: #666666 !important;
  color: #FFFFFF;
}
.img-wrap .head .nav ul li .show-box {
  position: absolute;
  top: 0;
  height: 100%;
  left: 200px;
  display: none;
  z-index: 999;
  overflow: hidden;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.8);
}
.img-wrap .head .nav ul li .show-box li {
  float: left;
  width: 100px;
}
.img-wrap .head .nav ul li .show-box li .tow-a {
  width: 100px;
  background: none !important;
}
.img-wrap .head .nav ul li .show-box li:hover {
  background-color: #666;
  color: #046323;
}
.img-wrap .head .banner {
  width: 1000px;
}
.img-wrap .head .banner img {
  width: 100%;
  height: 450px;
}
.img-wrap #images .item-title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 16px;
}
.img-wrap #images .item-title2 {
  font-size: 18px;
  font-weight: bold;
  padding: 16px 12px;
}
.img-wrap #images .img-item {
  display: inline-block;
  width: 200px;
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  overflow: hidden;
  border: 1px solid #eee;
  transition: all 0.5s;
  border-radius: 4px;
}
.img-wrap #images .img-item:hover {
  /*-1或者-2最佳*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.img-wrap #images .img-item img {
  width: 100%;
  height: 180px;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}
.img-wrap #images .img-item .lazy-image {
  background-size: cover;
  background-position: center;
  background: url('../imgs/loading.gif') no-repeat center;
}
.img-wrap #images .img-item .name {
  color: #666;
  font-size: 16px;
  height: 60px;
}
.img-wrap #images .img-item .price {
  color: #f40f0f;
  font-size: 22px;
  padding: 4px 2px;
}
.footer .gotop {
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 30px;
  cursor: pointer;
  border-top: #fff solid 30px;
  border-right: #fff solid 30px;
  border-bottom: #ddd solid 30px;
  border-left: #fff solid 30px;
}
[v-cloak] {
  display: none;
}
