<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>钢笔展示</title>
    <link rel="stylesheet" href="./js/viewer/viewer.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="app" v-cloak>
        <div class="img-wrap">
            <div class="titles">
                <h2 v-for="(item, ind) in imgList" :key="ind" @click="toView('t'+ind)">{{item.title}}</h2>
            </div>
            <div id="images">
                <div v-for="(item, ind) in imgList" :key="ind">
                    <div class="item-title" :id="'t'+ind">{{item.title}}</div>
                    <div class="img-item" v-for="(item2, ind2) in item.strArr" :key="ind2">
                        <img :data-src="item2.src" class="lazy-image" :alt="item2.name">
                        <div class="price">{{item2.price}}</div>
                        <div class="name">{{item2.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/vue.js"></script>
    <script src="./js/json.js"></script>
    <script src="./js/lazy-image.js"></script>
    <script src="./js/viewer/viewer.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                imgList: arr
            },
            mounted() {
                console.log(this.imgList)
                new LazyImage('.lazy-image')
                const viewer = new Viewer(document.getElementById('images'), {
                    url: 'data-src'
                });
            },
            methods: {
                toView(el) {
                    document.getElementById(el).scrollIntoView({
                        behavior: "smooth"
                    });
                }
            }
        })
    </script>
</body>

</html>